
<div
    class=" bg-no-repeat  bg-cover  bg-center  relative"
    style="background-image: url('../../../../../assets/img/a.jpg')"
>
    <div
        class=" min-h-screen md: flex md: flex-row  mx-0  justify-center"
    >
        <form
            class=" flex  justify-center  self-center  z-10"
            autocomplete="off"
            [formGroup]="form"
            (ngSubmit)="login()"
        >
            <!-- <ngx-invisible-recaptcha
                #captchaElem
                [siteKey]="siteKey"
                [useGlobalDomain]="false"

            >
            </ngx-invisible-recaptcha> -->
            <div class=" p-20  bg-white  mx-auto  rounded-2xl  w-100">
                <div>
                    <h3
                        class=" font-semibold  text-2xl  text-gray-800  text-center"
                    >
                        Iniciar Sesión
                    </h3>
                    <p class=" text-gray-500  text-center">
                        Por favor inicia sesión en tu cuenta
                    </p>
                </div>
                <div class=" space-y-3 form-control">
                    <div>
                        <label class=" label">
                            <span class=" label-text">Usuario</span>
                        </label>
                        <input
                            type="email"
                            placeholder="Ingrese su correo electronico"
                            formControlName="email"
                            class=" input  input-bordered  w-full  peer"
                        />
                        <p
                            *ngIf="email?.hasError('email')"
                            class=" mt-2  invisible peer-invalid: visible  text-pink-600  text-xs"
                        >
                            Ingresa un correo valido
                        </p>
                    </div>
                    <div class=" w-full">
                        <label class=" label">
                            <span class=" label-text">Contraseña</span>
                        </label>
                        <div class=" relative">
                            <input
                                #pwd
                                type="password"
                                placeholder="Ingrese su contraseña"
                                formControlName="password"
                                class=" w-full  input  input-bordered"
                            />
                            <span
                                class=" absolute  h-full  top-0  left-full  right-0  rounded-l-none  btn  btn-gray"
                                (click)="
                                    pwd.type === 'text'
                                        ? (pwd.type = 'password')
                                        : (pwd.type = 'text')
                                "
                            >
                                <span class="material-icons">
                                    {{
                                        pwd.type === "text"
                                            ? "visibility_off"
                                            : "visibility"
                                    }}
                                </span>
                            </span>
                        </div>
                        <label class=" label">
                            <a
                                href="#"
                                class=" label-text-alt  no-underline hover: text-pr"
                                >¿Olvidaste tu contraseña?</a
                            >
                        </label>
                    </div>
                    <div>
                        <button
                            type="submit"
                            class=" btn  btn-gray  btn-active  w-full  flex  justify-center"
                            role="button"
                            aria-pressed="true"
                            [disabled]="form.invalid"
                        >
                            Ingresar
                        </button>
                    </div>
                </div>
                <div class=" pt-5  text-center  text-gray-400  text-xs">
                    <span> Copyright © 2021-2022 </span>
                </div>
            </div>
        </form>
    </div>
</div>
