<div class="main-content">
    <div class="row pt-2">
        <div class="col">
            <h1 class="text-center">Reporte de Inquilinos</h1>
        </div>
    </div>
    <div class="flex-row flex-wrap md:w-full card">
        <div class="mt-10 mb-10 md:w-full md:mx-20">
            <div class="flex flex-col">
                <div>
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        class="md:min-w-full md:divide-y divide-gray-800"
                    >
                        <!-- Nombre Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.nombre }}
                            </td>
                        </ng-container>
                        <!-- Edad Column -->
                        <ng-container matColumnDef="edad">
                            <th mat-header-cell *matHeaderCellDef>Edad</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.edad }}
                            </td>
                        </ng-container>
                        <!-- Fecha Registro Column -->
                        <ng-container matColumnDef="fechaRegistro">
                            <th mat-header-cell *matHeaderCellDef>
                                Fecha Registro
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.fechaRegistro }}
                            </td>
                        </ng-container>
                        <!-- Deposito Column -->
                        <ng-container matColumnDef="deposito">
                            <th mat-header-cell *matHeaderCellDef>Deposito</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.deposito }}
                            </td>
                        </ng-container>
                        <!-- Documentacion Column -->
                        <ng-container matColumnDef="documentacion">
                            <th mat-header-cell *matHeaderCellDef>
                                Documentacion
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span
                                    class="px-2 inline-flex text-base leading-10 font-semibold rounded-full bg-green-100 text-green-800"
                                >
                                    {{ element.documentacion }}
                                </span>
                            </td>
                        </ng-container>
                        <!-- Estatus Contrato Column -->
                        <ng-container matColumnDef="estatusContrato">
                            <th mat-header-cell *matHeaderCellDef>
                                Estatus Contrato
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.estatusContrato }}
                            </td>
                        </ng-container>
                        <!-- Acciones -->
                        <ng-container matColumnDef="acciones">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                justify="center"
                            >
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <button
                                    class="btn btn-circle btn-primary btn-sm mr-2 tooltip tooltip-info tooltip-left"
                                    data-tip="Editar"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button
                                    class="btn btn-circle btn-primary btn-sm mr-2 tooltip tooltip-info"
                                    data-tip="Visualizar"
                                >
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button
                                    class="btn btn-circle btn-primary btn-sm mr-2 tooltip tooltip-info tooltip-right"
                                    data-tip="Eliminar"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            class="bg-slate-200"
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 15]"
                        showFirstLastButtons
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <!--Buttons-->
    <div class="row flex justify-center">
        <div class="col flex-col mr-10 mb-10">
            <div class="row justify-content-center">
                <div class="general-buttons-columns">
                    <button
                        class="btn btn-wide bg-slate-600"
                        type="button"
                        (click)="irHome()"
                    >
                        Regresar
                    </button>
                </div>
            </div>
        </div>
        <div class="col flex-col mr-10 mb-10">
            <div class="row justify-content-center">
                <div class="general-buttons-columns">
                    <button class="btn btn-wide btn-primary" type="button">
                        Registrar Inquilino
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
