<div class="main-content">
    <div class="row pt-2">
        <div class="col">
            <h1 class="text-center">Reporte de Rentas</h1>
        </div>
    </div>
    <div class="flex-row flex-wrap md:w-full mb-20 card">
        <div class="mt-10 mb-10 md:w-full md:mx-20">
            <div class="flex flex-col">
                <div
                    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
                >
                    <table class="md:min-w-full md:divide-y divide-gray-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Nombre
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Numero/Nombre del Departamento
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Ultima fecha de pago
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Fecha de pago proxima
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Estatus de Renta
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Total a pagar de renta
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                     Total a pagar de electricidad
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
                                >
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div
                                            class="text-base font-serif text-gray-900"
                                        >
                                            Luis Pimentel
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <div
                                                class="text-base font-serif text-gray-900"
                                            >
                                                1A
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div
                                            class="text-base font-serif text-gray-900"
                                        >
                                            17/03/2022
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div
                                            class="text-base font-serif text-gray-900"
                                        >
                                            17/04/2022
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <span
                                        class="px-2 inline-flex text-base leading-10 font-semibold rounded-full bg-green-100 text-green-800"
                                    >
                                        Pagado
                                    </span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div
                                            class="text-base font-serif text-gray-900"
                                        >
                                            1900
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div
                                            class="text-base font-serif text-gray-900"
                                        >
                                            155
                                        </div>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium"
                                >
                                    <label
                                        for="my-modal-2"
                                        class="mr-2 btn btn-circle btn-outline btn-primary hover:bg-gray-400 rounded-full modal-button center"
                                    >
                                        <mat-icon class="cursor-pointer center"
                                            >visibility</mat-icon
                                        >
                                    </label>
                                    <label
                                        for="my-modal-2"
                                        class="mr-2 btn btn-circle btn-outline btn-primary hover:bg-gray-400 rounded-full modal-button center"
                                    >
                                        <mat-icon class="cursor-pointer center"
                                            >payments</mat-icon
                                        >
                                    </label>
                                    <label
                                        for="my-modal-2"
                                        class="mr-2 btn btn-circle btn-outline btn-primary hover:bg-gray-400 rounded-full modal-button center"
                                    >
                                        <mat-icon class="cursor-pointer center"
                                            >download</mat-icon
                                        >
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <input type="checkbox" id="my-modal-2" class="modal-toggle" />
    <div class="modal">
        <div class="modal-box max-w-md ml-0">
            <div class="mt-3 text-center sm:mt-0 sm:text-center">
                <h3 class="text-4xl leading-6 text-gray-900" id="modal-title">
                    Editar Registro
                </h3>
            </div>

            <div class="flex-col mb-5">
                <mat-form-field appearance="fill" class="flex w-full">
                    <mat-label>Nombre:</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex w-full">
                    <mat-label>No. Departamento:</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex w-full">
                    <mat-label>Costo de la Renta:</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill" class="flex w-full">
                    <mat-label>Inicio Contrato:</mat-label>
                    <input matInput [matDatepicker]="datepicker" />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="datepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>
                                Cancel
                            </button>
                            <button
                                mat-raised-button
                                color="primary"
                                matDatepickerApply
                            >
                                Apply
                            </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="modal-action">
                <button for="my-modal-2" class="btn btn-primary" type="submit">
                    Guardar
                </button>
                <label for="my-modal-2" class="btn">Cancelar</label>
            </div>
        </div>
    </div>

    <!--Buttons-->
    <div class="row mt-3 mb-4 flex justify-center">
        <div class="col flex-col mr-10">
            <div class="row justify-content-center">
                <div class="general-buttons-columns">
                    <button
                        class="btn btn-wide bg-slate-600"
                        type="button"
                        (click)="irHome()"
                    >
                        Regresar
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col flex-col mr-10">
            <div class="row justify-content-center">
                <div class="general-buttons-columns">
                    <button class="btn btn-wide btn-primary" type="button">
                        Agregar Departamento
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>
