<div class="navbar bg-blue-300" *ngIf="conectado">
    <div class="flex-1">
      <a class="btn btn-ghost  hover:bg-blue-300 text-gray-800  text-xl" (click)="irHome()">Departamentos</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=33791" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Perfil
            </a>
          </li>
          <li><a>Configuracion</a></li>
          <li><a>Cerrar Sesion</a></li>
        </ul>
      </div>
    </div>
  </div>
