<!-- Header -->
<div class="flex bg-blue-100 md:pt-32 md:pb-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
        <div>
            <!-- Card stats -->
            <div class="flex">
                <div class="md:w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-blue-300 rounded mb-6 xl:mb-0 shadow-lg"
                    >
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap">
                                <div
                                    class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                >
                                    <h5
                                        class="text-blueGray-400 uppercase font-bold text-xs"
                                    >
                                        Reporte Rentas
                                    </h5>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div
                                        class="text-green-800 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full hover:bg-blue-400"
                                    >
                                        <mat-icon
                                            (click)="irRentas()"
                                            class="mr-6 mb-6 cursor-pointer"
                                            >payments</mat-icon
                                        >
                                        <!-- <i [ngClass]="statIconName"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-blue-300 rounded mb-6 xl:mb-0 shadow-lg"
                    >
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap">
                                <div
                                    class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                >
                                    <h5
                                        class="text-blueGray-400 uppercase font-bold text-xs"
                                    >
                                        Reporte Inquilinos
                                    </h5>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div
                                        class="text-orange-800 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full hover:bg-blue-400"
                                    >
                                        <mat-icon
                                            class="mr-6 mb-6 cursor-pointer"
                                            (click)="irInquilinos()"
                                            >groups</mat-icon
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-blue-300 rounded mb-6 md:mb-0 shadow-lg"
                    >
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap">
                                <div
                                    class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                >
                                    <h5
                                        class="text-blueGray-400 uppercase font-bold text-xs"
                                    >
                                        Reporte Departamentos
                                    </h5>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div
                                        class="text-gray-800 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full hover:bg-blue-400"
                                    >
                                        <mat-icon
                                            (click)="irDepartamentos()"
                                            class="mr-6 mb-6 cursor-pointer"
                                            >apartment</mat-icon
                                        >
                                        <!-- <i [ngClass]="statIconName"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-blue-300 rounded mb-6 xl:mb-0 shadow-lg"
                    >
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap">
                                <div
                                    class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                >
                                    <h5
                                        class="text-blueGray-400 uppercase font-bold text-xs"
                                    >
                                        Reporte Electricidad
                                    </h5>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div
                                        class="text-yellow-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full hover:bg-blue-400"
                                    >
                                        <mat-icon
                                            class="mr-6 mb-6 cursor-pointer"
                                            (click)="irElectricidad()"
                                            >bolt</mat-icon
                                        >
                                        <!-- <i [ngClass]="statIconName"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
